
    
<div><h4>Wallet Details</h4>
  <div class="row">
      <div class="row-md-10" *ngFor="let wallet of wallets">
    <div class="card" style="width: 17rem;" >
        <div class="card-body">
            <img [src]="wallet.image" class="card-img-top" height="115" width="115">
          <h1 class="card-title">{{wallets.customerName}}</h1>
          <h5 class="card-text"> Your Wallet current balance is...</h5>
          <h5 class="card-text">{{wallet.walletPaymentMethod}}</h5>
          <h5 class="card-text">INR :{{wallet.currentBalance}}</h5>
        </div>
      </div>
      </div> </div></div>
