
<div><h4>Menu</h4>
      <div class="row">
          <div class="col-md-4" *ngFor="let m of menu">
        <div class="card" style="width: 18rem;" >
            <div class="card-deck">
            <div class="card-body">
              <img src="assets/images/{{m.menItemId}}.jpg" class="card-img-top" alt="image" height="200" width="150">
              <h4>ID: {{m.menItemId}}</h4>
              <h4>NAME: {{m.menItemName}}</h4>
              <h4>TYPE: {{m.menFoodType}}</h4>
              <h5>CALORIES: {{m.menCalories}}</h5>
              <!-- <a href="#" class="btn btn-info dropdown-toggle margin-left">PRICE</a> -->
            </div>
          </div>
          </div> </div></div></div>


          <!--  *ngFor="let v of menu.vendors" (click)=handleClick(menu)>{{v.ven_id}} -->
