
<div><h4>Customer Details</h4>
<div class="container">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Customer Id</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Phone No</th>
        <th scope="col">EmailId</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{customers.customerId}}</td>
        <td>{{customers.customerName}}</td>
        <td>{{customers.customerPhone}}</td>
        <td>{{customers.customerEmail}}</td>

      </tr>
    </tbody>
  </table>
  </div> 
</div>
