<!-- 
  <div class="container">
      <div><h4>Wallet Details</h4>
  <div class="row">
      <div class="row-md-10" >
    <div class="card" style="width: 17rem;" >
        <div class="card-body" *ngFor="let w of wallet">
            <img [src]="wallet.image" class="card-img-top" height="115" width="115">
          <h5 class="card-text"> Your Wallet current balance is...</h5>
          <h5 class="card-text">{{w.walletPaymentMethod}}</h5>
          <h5 class="card-text">INR :{{w.walletCurrentBalance}}</h5>
        </div>
      </div></div>
      </div> </div></div> -->

      <div class="image">
        <div class="container">
          <div class="row"></div>
            <div class="card-group">
                <div class="row-md-10" *ngFor="let w of wallet">
                  <div class="card card-profile">
                    <div class="card-avatar">
                        <img class="img" src="assets/images/{{w.walletPaymentMethod}}.jpg" height="220" width="220">
                      </div>
                    <div class="card-body ">
                  <h5 class="card-category text-gray">{{w.CustomerName}}</h5>
                  <h5 class="card-category text-gray">{{w.walletPaymentMethod}}</h5>
                  <h5 class="card-category text-gray">INR:{{w.walletCurrentBalance}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>