td, th {
    border: 1px solid #080000;
    text-align: left;
    padding: 8px;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  body{
    margin-top:20px;
    background:#eee;
}
  
.container{
    padding-top:50px;
    padding-left:150px;
    
}
